{:database
 {:url "jdbc:postgresql://localhost:5432/pesisir_dev?user=pesisir&password=dev"}

 :server
 {:port 3000
  :host "0.0.0.0"}

 :jwt
 {:secret "dev-secret-key-change-in-production"}

 :environment "development"

 :email
 {:from-address "noreply@pesisir.app"
  :smtp {:host "localhost"
         :port 1025
         :user nil
         :pass nil}}}
